.forgot_password_containers{
    padding: 10px;
    /* border: 1px solid blue; */
    height: 250px;
    width: 330px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.heading{
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}
.labalHeadings{
    font-size: 18px;
}

.input_field{
    padding-left: 3px;
    width: 93%;
    margin-bottom: 20px
}

.forgot_btn{
    cursor: pointer;
    width: 95%;
    height: 30px;
}




