.navbar_main_contaienr{
    /* border: 1px solid red; */
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* text-decoration: none; */
}

.navbar_lists{
    display: flex;
    justify-content: center;
    /* list-style: none; */
    text-decoration: none;
}

.navbar_sub_lists{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 4px;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
   
}
.linkSStyle{
    text-decoration: none;
}